In [4]:
x=2**3
print(x)

8

In [1]:
a = 10
b = 20 
b*=a
print(a,b)

10 200

In [2]:
X=2
C=4
print(X*C)

8

In [8]:
x=['londa']
y=['Khuni']
print(y["Khuni Londa"]
    )

TypeError: list indices must be integers or slices, not str

In [22]:
a=2
b=3
a=b
b='Nigga'
print(a,b)

i=1 
while i<=10:
    print(i)
    i=i+1

3 Nigga
1
2
3
4
5
6
7
8
9
10